/* LandingPage.css */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=VT323&display=swap");

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #f9f9f9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #73282c;
  font-family: "VT323", monospace;
}
.navbar-brand img {
  width: 60px;
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hero img {
  width: 100%;
  height: 400px;
}
.hero-text {
  width: 50%;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 1em;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 300px;
  height: 100%;
  padding: 1em;
  background-color: #fff;
}
.profile {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}
.profile h3 {
  font-size: 14px;
  font-weight: bold;
  color: #3f7bd4;
}
.profile p {
  font-size: 12px;
  color: #555;
}

.content {
  text-align: center;
}

.loading-spinner {
  margin: 40px;
}
.link {
  list-style: none;
  color: #73282c;
  border: #73282c 1px solid;
  background-color: #fff;
  font-weight: bold;
  font-family: "Comfortaa", cursive;
  padding: 10px;
}
.link:hover {
  color: #cb0e17;

  border: 1px solid #cb0e17;
  background-color: #fff;
  /*make the text pop up a bit*/
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.social-icons {
  margin-bottom: 0;
}

.icon {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(0, 0, 255);
  font-family: "Comfortaa", cursive;
}

p {
  font-size: 18px;
  color: #555;
}
