/* css/post-form.css */

.post-form {
  box-sizing: border-box;
  border: 1px solid #e1e8ed;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  position: sticky;
  top: 0;
}
.post-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-form-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  width: 95%;
  height: 100px;
  padding: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.post-media-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-media-preview {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.post-media-label {
  cursor: pointer;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-right: 1em;
}

.post-media-label:hover {
  background-color: #1991da;
}

.post-media-input {
  display: none;
}

.post-button {
  cursor: pointer;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.post-button:hover {
  background-color: #1991da;
}

.post-icon {
  margin-right: 5px;
}

.media-icon {
  margin-right: 5px;
}
