<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Nebula</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        color: #333;
      }

      h2 {
        color: #1da1f2;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      .footer {
        margin-top: 30px;
        font-size: 14px;
        color: #888;
      }
    </style>
  </head>

  <body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px">
      <h2>Welcome to Nebula</h2>
      <h4>Greetings <%= user.fullname %>,</h4>
      <p>
        Thank you for joining Nebula! We are excited to have you as part of our
        community.
      </p>
      <p>
        Nebula is the social media platform that takes you on a journey of
        discovering hidden connections and forging meaningful relationships in a
        unique and mysterious atmosphere.
      </p>
      <p>Here's a quick guide to help you get started:</p>
      <ol>
        <li>
          Set Up Your Profile: Customize your profile, add a captivating bio,
          and choose a unique username. Let others discover the fascinating
          individual that you are.
        </li>
        <li>
          Explore Nebula's Cosmos: Dive into a vast universe of communities,
          topics, and conversations. Discover hidden gems, join vibrant
          discussions, and connect with people who share your interests.
        </li>
        <li>
          Connect and Engage: Follow intriguing personalities, engage with their
          posts, and unlock the potential for exciting connections. Nebula is
          all about fostering meaningful interactions and building genuine
          connections.
        </li>
        <li>
          Share Your Nebula Journey: Capture and share your experiences,
          thoughts, and creativity. Unveil the beauty of your world through
          photos, videos, and stories, and let others be a part of your unique
          narrative.
        </li>
        <li>
          Privacy and Security: At Nebula, we prioritize your privacy and ensure
          the security of your personal information. Feel confident and explore
          Nebula's features in a safe and protected environment.
        </li>
      </ol>
      <p>
        Should you have any questions, concerns, or simply want to share your
        feedback, our dedicated support team is here to assist you along your
        Nebula journey.
      </p>
      <p class="footer">
        Best Regards &#9829;<br />
        The Nebula Team
      </p>
    </div>
  </body>
</html>
